.spin {
	
}

.map-container {
	width: 500px;
	height: 300px;
}

.template {
	display: none;
}

.location {
	width: 400px;
}

.radius {
	width: 2em;
}

.randres {
	list-style: none;
}

.container {
	background-color: white;
	border:5px solid purple;
	border-radius: 25px;
}

body {
	background-color: grey;
}

.footer {
	color: grey;
	text-align: center;
}

.footer p {
	margin: 0px;
	font-size: 8pt;
}

.randres li {
	font-weight: bold;
}

.pick {
	font-size: 110%;
	margin-bottom: 10px;
}

.title {
	font-family: Montserrat Subrayada;
}